.header {
    border-bottom: 1px solid #2a363b;
    margin-bottom: 30px;
  }

.container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
}
  