.header {
    background-color: rgb(255, 248, 239);
    margin-bottom: 20px;
  }

.container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
}
  