.form {
    padding: 15px;
    width: 240px;
    border: 1px solid rgb(222, 220, 220);
}

.p {
    margin:0;
    margin-bottom: 5px;
    width: max-content;
    font-size: 14px;
}

.input {
    margin-bottom: 20px;
    padding: 5px 10px;
    background-color: rgb(234, 234, 234);
    border: 1px solid rgb(208, 208, 208);
    outline: none;
}

.btn {
    display: block;
    border: 1px solid rgb(208, 208, 208);
    font-size: 13px;
    border-radius: 5px;
    padding: 7px 14px;
    color: rgb(80, 119, 123);
    background-color: transparent;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(246, 254, 251);

}