.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 500;
    color: #5b6773;
  }
  
  .link.active {
    color: #621a24;
  }

  .link:hover {
    color: rgb(182, 179, 163);
  }
  